<tr><td style="width:100%;">
<div id="tweetItem<%=id%>" class="tweet" style="
padding-top: 5px;
padding-bottom: 10px;
padding-left: 10px;
">
<div><a style="text-decoration:none;color:black"  href="/user/<%=creatorName%>"><%=creatorName%></a></div>
    <div id="itemName<%=tweet%>" style="
    padding-top:5px;
    padding-left:15px;
    color:grey;
    ">
    <%=tweet%>
    </div>
    <div style="padding-top:10px;font-size:12px;">
        <span style="padding-left:10px;z-index:10;">
            <a href="#" style="text-decoration:none;" onclick="retweet(<%= tweetId %>,<%= creatorId %>);return false;">
                Retweet
            </a>
        </span>
        <span style="padding-left:10px;z-index:10;">
        <%if (favorite==false) {%>
        <a href="#" style="text-decoration:none;" onclick="favorite(<%= tweetId %>,<%= creatorId %>,this);return false;">
            Like
        </a>
        <%} else {%>
            Liked
        </span>
        <%}%>
      <%if (retweet==true) {%> <span style="padding-left:10px;z-index:10;"> Retweeted By <a href="user/<%= userName %>"><%= userName %></a></span><%}%>
  </div>
</div>
</td></tr>
