<tr><td style="width:100%;">
<div id="tweetItem<%=id%>" class="tweet" style="
padding-top: 5px;
padding-bottom: 10px;
padding-left: 10px;
">
  <div><b><a style="text-decoration:none;color:aqua"  href="/user/<%=creatorName%>"><%=creatorName%></a> Says:</b></div>
    <div id="itemName<%=tweet%>" style="
    padding-top:5px;
    padding-left:15px;
    ">
    <%=tweet%>
    </div>
  <%if (retweet==true) {%> Retweeted By <%= userName %><%}%>
  <div style="padding-top:10px;font-size:12px;">
      <span style="z-index:10;"><a id="<%= tweetId %>" href="#" style="text-decoration:none">Retweet</a></span>
      <span style="padding-left:10px;z-index:10;"><a href="#" id="<%=tweetId%>" style="text-decoration:none;">Favourite</a></span>
  </div>
</div>
</td></tr>
