<tr><td style="width:100%;"><div class="row-fluid">
<div class="span2"><img src="<%=profilePicURL%>" /></div>
<div id="tweetItem<%=id%>" class="tweet span10" style="
padding-top: 5px;
padding-bottom: 10px;
padding-left: 10px;
">
<div><a style="text-decoration:none;color:black"  href="/user/<%=creatorName%>"><%=creatorName%></a></div>
    <div id="itemName<%=tweetId%>" style="
    padding-top:5px;
    padding-left:0px;
    color:grey;
    ">
    <%=tweet%>
    </div>
    <div style="padding-top:10px;font-size:12px;">
        <span style="z-index:10;">
            <%if (favorite==false) {%>
            <a href="#" style="text-decoration:none;" onclick="favorite(<%= tweetId %>,<%= creatorId %>,this);return false;">
            <i class="icon-star-empty"></i> Like</a>
            <%} else {%>
            <i class="icon-star"></i> Liked</a>
        <%}%>
        </span>
 
        <span style="padding-left:10px;z-index:10;">
            <%if (creatorName != currentUser && userName!=currentUser) {%>
            <a href="#" style="text-decoration:none;" onclick="retweet(<%= tweetId %>,<%= creatorId %>);return false;">
                <i class="icon-repeat"></i> Retweet
            </a>
            <%}%>
        </span>
        <%if (retweet==true) {%> <span style="padding-left:10px;z-index:10;"><i class="icon-refresh"></i> Retweeted By <a href="user/<%= userName %>"><%= userName %></a></span><%}%>
    </div>
    <div style="padding-top:10px;font-size:12px;">
        <a href="tweet/favorites/<%=creatorId%>/<%=tweetId%>">
            <%if (favoriteCount != "0") {%>
            <i class="icon-thumbs-up"></i> 
            <%= favoriteCount %> Like<%}%><%if (favoriteCount>1){%>s<%}%>
        </a> 
        <a href="tweet/retweets/<%=creatorId%>/<%=tweetId%>" style="padding:5px;">
            <%if (retweetCount!= "0") {%>
            <i class="icon-retweet"></i> 
            <%= retweetCount %> Retweet<%}%><%if (retweetCount>1){%>s<%}%>
        </a>
  </div>
</div>
</td></tr>
