<tr><td style="width:100%">
<div class="row-fluid">
    <section>
    <div class="span2">
        <img src= "<%= profilePicURL %>" />
    </div>
    <div class="span6">
        <div>
            <a href="/user/<%= username %>"><%= username %> </a>
        </div>
        <div>
            Email: <%= email %>
        </div>
        <div>
            <button class="followButton btn
                <% if (following == true) {%>
                btn-danger
                <% }else{%>
                btn-info
                <%}%>

                " id="<%=username%>" following="<%=following%>">
                <% if (following == true) {%>
                    Unfollow
                <% }else{%>
                    Follow
                <%}%>
            </button>
        </div>
    </div>
    </section>
</div>
</td></tr>
